@model List<ApartmentViewModel>
@{
    ViewData["Title"] = "Apartment List";
}

<h1 class="text-center">Our Apartments</h1>

<div class="apartment-list">
    @foreach (var apartment in Model)
    {
        <div class="apartment-card">
            <div class="apartment-card__image">
                <img src="@Url.Content("~/" + apartment.ImageUrl)" alt="@apartment.Name" />
            </div>
            <div class="apartment-card__content">
                <div class="apartment-card__header">
                    <h3>@apartment.Name</h3>
                    <span class="apartment-card__rating">
                         @apartment.Rating
                        <span>&#x2605;</span>
                        <small>(@apartment.ReviewsCount)</small>
                    </span>
                </div>

                <p class="apartment-card__description">@apartment.Description</p>

                <div class="apartment-card__footer">
                    <div class="apartment-card__price">
                        $@apartment.PricePerNight <span>/ night</span>
                    </div>
                    <a class="nav-link text-white btn btn-dark" asp-controller="Apartment" asp-action="ShowApartmentPage" asp-route-id="@apartment.Id">Book now</a>
                </div>
            </div>
        </div>
    }
</div>
